@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
       
body{
     margin:0;
     padding:0;
      font-family: 'Quicksand', sans-serif;
     background-color: #f5f5f5;
 }


.navbar{
/* border:1px solid black; */
overflow: hidden;
height:100px;
padding:5px;
position:fixed;
width:100%;
background-color: #f5f5f5;
}


.top{
/* border:1px solid black; */
width:100%;
height:100px;
display:flex;
gap:30px;
padding:2px;
}
.logo{
width:15%;
/* border:1px solid red; */
display:flex;
justify-content:center;
cursor:pointer;
}
.logo img{
margin-top:10px;
width:80%;
height:60%; 
}
.search{
width:50%;
/* border:1px solid green; */
display:flex;
align-items:center;
position:relative;
font-size:30px;
}
.Input{
border:#ffe;
outline:none;
font-size:16px;
background:#fff;
height: 50px;
width: 600px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
margin-left: 100px;
font-family: 'Quicksand', sans-serif;
font-weight:700;

}
#search-btn{
border:none;
opacity:1;
height: 50px;
width: 120px;
padding: 5px;
background-color: black;
font-size:15px;
color: white;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
/* position:fixed; */
cursor:pointer;
font-family: 'Quicksand',sans-serif;

}
#login{
width:12%;
margin-left:130px;
display:flex;
/* border:1px solid blue; */
justify-content:center;

}
#login img{
margin-top:25px;
width:30px;
height:30px;
}
#login a{
color:rgb(0, 0, 0);
margin-top:30px;
font-size:18px;
font-weight:700;


}

.icons{
width:15%;
/* border:1px solid cyan; */
display:flex;
/* justify-content: center; */
justify-content: flex-end;
margin-right:15px;
gap:5px;
}

.icons i{
width:25px;
height:25px;
margin-top:35px;
cursor:pointer;
}







 #options{
    /* background:white; */
  color:#6c757d;
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: bolder;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     /* position:fixed; */
     width:100%;
     margin-top:100px;
     /* overflow:none; */

      
    
 }
 #options>div{
     margin-left: 30px;
     margin-right: 30px;
 }
 .main-slider{
     height:453px;
     border-radius:2px; 
     display:flex;
     justify-content:center;
     align-items:center;
     background:#f5f5f5;
     border-top: #6c757d;
     
 }
 .slides{
     /* width:1900px; */
     /* width:500%; */
     height:453px;
     border-radius:10px;
     display:flex;
     overflow:hidden;
 }
 .slides input{
     display:none;
 }
 .slide{
     width:120%;
     transition:2s;

 }
 .slide img{
     /* width:1900px; */
     width:1800px;
     height:453px;
 }
 /* css for manual navigation */
 .navigation-manual{
     /* position:absolute; */
     display:flex;
     /* margin-bottom:-400px; */
     justify-content:center;
     margin-top:20px;

 }
 .navigation-auto{
     display:flex;
     justify-content:center;
     margin-top:20px;
 }
 
 .manual-btn{
     background:grey;
     /* border:2px solid blue; */
     padding:5px;
     border-radius:10px;
     cursor:pointer;
     transition:1s;
 }
 .navigation-auto div{
     padding:5px;
     border-radius:10px;
     transition:1s;
  }

 .manual-btn:not(:last-child){
     margin-right:10px;

 }
 .manual-btn:hover{
     background:black;
 }
 #radio1:checked~ .first{
     margin-left:0%;
     background:black;
 }
 #radio2:checked~ .first {
     margin-left:-100%;
     background:black;
 }
 #radio3:checked~ .first {
     margin-left:-200%;
     background:black;
 }
 #radio4:checked~ .first {
     margin-left:-300%;
     background:black;
 }
 #radio5:checked~ .first{
     margin-left:-400%;
     background:black;
 }
 .slide_radio_button{
     height:40px;
     padding:20px;
     display:flex;
     justify-content: center;
 }
 .navigation-auto div:not(:last-child){
     margin-right:40px;
 }
 /* #radio1:checked ~.navigation-auto .auto-btn1{
     background:black;
 } */
 #radio2:checked ~.navigation-auto .auto-btn2{
     background:black;
 }
 #radio3:checked ~.navigation-auto .auto-btn3{
     background:black;
 }
 #radio4:checked ~.navigation-auto .auto-btn4{
     background:black;
 }
 #radio5:checked ~.navigation-auto .auto-btn5{
     background:black;
 }


 /* for dropdown */
 .dropdown {
  position: relative;
  display: inline-block;
  }

  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  .dropdown-content a {
      /* opacity:1; */
   color: black;
   font-weight: 200;
   padding: 12px 16px;
   text-decoration: none;
   /* text-align:center; */
  display: block;
  margin-left:10px;
  font-family: 'Quicksand', sans-serif;

  }
  .dropdown_title{
      color:#6c757d;
      font-weight:700;
      position:relative;
      cursor:pointer;
  }
  .dropdown_title a{
      color:#6c757d;
      text-decoration: none;
      position:relative;
  }
  .dropdown_title a:hover{
   color:#0e0d0de2;
  }

  .fortitle{
      /* border:1px solid black; */
      padding:0;
      text-align:center; 
      font-family: 'Quicksand', sans-serif;
  }
  h2{
      color:#1f1f1f;
      font-weight:300;
      font-family: 'Quicksand', sans-serif;
      font-size: 40px;
  }


  .container_for_video{
      /* border:1px solid black; */
      height:auto;
  }

  .refer{
      display:block;
      cursor:pointer;
      overflow:hidden;
      margin-left:50px;
      margin-right:50px;
     
  }

  .container_for_bestsellers{
      /* border:1px solid black; */
      height:auto;
  }


  .tip-slider{
     height:453px;
     border-radius:10px; 
     display:flex;
     justify-content:center;
     align-items:center;
     background:#f5f5f5;
     border-top: #6c757d;
     transition:2s;
     
 }
 .tipslides{
     /* width:1900px; */
     /* width:500%; */
     /* height:453px; */
     border-radius:10px;
     display:flex;
     overflow:hidden;
 }
 .tipslides input{
     display:none;
 }
 .slidetip img{
     /* width:1900px; */
     width:1800px;
     /* height:453px; */
 }


 .navigation-manual_1{
     /* position:absolute; */
     display:flex;
     /* margin-bottom:-400px; */
     justify-content:center;
     margin-top:20px;

 }
 .navigation-auto_1{
     display:flex;
     justify-content:center;
     margin-top:20px;
 }
 
 .manual-btn-1{
     background:grey;
     /* border:2px solid blue; */
     padding:5px;
     border-radius:10px;
     cursor:pointer;
     /* transition:1s; */
 }
 .navigation-auto_1 div{
     padding:5px;
     border-radius:10px;
     transition:1s;
  }

 .manual-btn-1:not(:last-child){
     margin-right:10px;

 }
 .manual-btn-1:hover{
     background:black;
 }
 #rad1:checked~ .first{
     margin-left:0;
     /* background:black; */
 }
 #rad2:checked~ .first {
     margin-left:-100%;
     background:black;
 }
 #rad3:checked~ .first {
     margin-left:-200%;
     background:black;
 }

 .slide_radio_button_1{
     height:40px;
     padding:20px;
     display:flex;
     justify-content: center;
 }
 .navigation-auto_1 div:not(:last-child){
     margin-right:40px;
 }
 #rad1:checked ~.navigation-auto_1 .auto-btn1-1{
     background:black;
 }
 #rad2:checked ~.navigation-auto_1 .auto-btn2-2{
     background:black;
 }
 #rad3:checked ~.navigation-auto_1 .auto-btn3-3{
     background:black;
 }

 
 .ultimate_quiz{
     overflow:hidden;
 }


  .dropdown-content a:hover {background-color: #fff; font-weight:600}

  .dropdown:hover .dropdown-content {display: block;}
  .dropdown_title a:hover

  .container_for_deal_slider{
    /* border:1px solid black; */
    height:auto;
   }
   /* hotdeals */
   #slider-container-outer-1 {
	overflow: hidden;
}

#slider-container-1 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    /* align-items:center; */
    margin:20px 0px;
}

/* CSS transition applied when translation of items happen */
.slider-container-1-transition {
	transition: transform 0.3s ease-in-out;
}

.slider-item-1 {
	width: 105%;
	flex-shrink: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    /* margin-right:25px; */
    /* overflow:auto; */
    overflow:none;
}
.slider-item-1 img{
    width:30%;
    margin-right:40px;
    margin-left:0px;
}

#move-button-1{
   position:absolute;
   margin-top:-240px;
   margin-left:1600px;
   opacity:1;
   cursor:pointer;
   background-color: transparent;
}





   .s1{
       position:absolute;
       margin-top:-40px;
       margin-left:-1600px;
       /* background:transparent; */
       cursor:pointer;
        background-color: transparent;
   }
   .s2{
    position:absolute;
    margin-top:-40px;
    margin-left:1600px;
    /* background:transparent; */
    cursor:pointer;
    background-color: transparent;
}

/* video section */
#slider-container-outer {
	overflow: hidden;
}

#slider-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

/* CSS transition applied when translation of items happen */
.slider-container-transition {
	transition: transform 0.9s ease-in-out;
}

.slider-item {
	width: 100%;
	flex-shrink: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    overflow:auto;
    
}
.slider-item video{
    border-radius:10px;
}
#move-button{
   position:absolute;
   margin-top:-320px;
   margin-left:1700px;
   opacity:1;
   cursor:pointer;
   background-color: transparent;
}
.controls{
    position:relative;
    width:100%;
}   

.arrow1{
    position:absolute;
    margin-top:-250px;
    margin-left:-700px;
    background-color: transparent;
    cursor:pointer;
}
.arrow2{
    position:absolute;
    margin-top:-250px;
    margin-left:700px;
    background-color:transparent;
    cursor:pointer;
}


/* lipstick slider */
#slider-container-outer-2{
	overflow: hidden;
}

#slider-container-2 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    /* align-items:center; */
    margin:20px 0px;
}

/* CSS transition applied when translation of items happen */
.slider-container-2-transition {
	transition: transform 0.3s ease-in-out;
}

.slider-item-2 {
	width: 105%;
	flex-shrink: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    /* margin-right:25px; */
    /* overflow:auto; */
    overflow:none;
}
.slider-item-2 img{
    width:30%;
    margin-right:40px;
    margin-left:0px;
}

#move-button-2{
   position:absolute;
   margin-top:-240px;
   margin-left:1700px;
   opacity:1;
   cursor:pointer;
   background-color: transparent;
}


/* for this or that */
.container_for_this_or_that{
    align-items:center;
    margin:auto;
}
.this_or_that{
    /* width:90%; */
    display:flex;
    gap:40px;
    flex-direction:row;
    padding:40px;
    overflow:none;
    align-items:center;
    justify-content: center;
}
.this_or_that img{
    width:800px;
    cursor:pointer;
}

/* explore */
.container_for_explore{
    margin:auto;
}
#slider-container-outer-3{
	overflow: hidden;
}

#slider-container-3 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    /* align-items:center; */
    margin:20px 0px;
}

/* CSS transition applied when translation of items happen */
.slider-container-3-transition {
	transition: transform 0.3s ease-in-out;
}

.slider-item-3 {
	width: 105%;
	flex-shrink: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    /* margin-right:25px; */
    /* overflow:auto; */
    overflow:none;
}
.slider-item-3 img{
    width:30%;
    margin-right:40px;
    margin-left:0px;
}

#move-button-3{
   position:absolute;
   margin-top:-200px;
   margin-left:1700px;
   opacity:1;
   cursor:pointer;
   background-color: transparent;
}
.readmore{
    margin-left:10%;
    cursor:pointer;
}

/* footer part here */
.mail{
    color: white;
    font-size: 16px;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    padding: 18px;
    margin-left:13%;
    width: 40%;
}
.signupBtn{
    font-size: 14px;
    padding: 12px;
    background-color: rgb(235, 59, 117);
    border-radius: 10px;
    color: white;
    font-weight:400;
    cursor:pointer;
}
.info-content{
    color: #999999;
}

